body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
            /* width: 70%;
            max-width: 960px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* ##### App.css generated automatically by create-react-app ##### */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ##### chirper-app's index.css ##### */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

    .input {
      /* max-width: 800px; */
      width: 50%;
      margin-left: 40 auto;
      padding: 10px;
    }

    .signin {
      max-width: 300px;
      min-height: 150px;
      margin: 0 auto;
      padding: 10px;
      vertical-align: middle;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }


.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

/* Nav */

.nav ul {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-start;*/
        justify-content: space-around;
        /* justify-content: center; */
  text-decoration: none;
        /* margin-left: 50px; */
        align-items: center;
        /* background-color: coral; */
        /* background-color: gray; */
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:nth-child(4) {
        margin-left: auto;
}

.nav li:nth-child(5) {
        margin-right: 0;
        margin-left: 0;
}

.nav li:last-child {
        /*margin-right: auto;*/
        /* margin-right: 50px; */
}

.nav :tinyavatar {
        width: 5px;
  border-radius: 2px;
        margin: 5px;
}

.tinyavatar {
        width: 30px;
  border-radius: 15px;
        margin: 0px;
}

.verytinyavatar {
        width: 15px;
  /*border-radius: 25px;*/
        margin: 0px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

.poll ul {
  max-width: 300px;
}

.poll li {
  list-style-type: none;
  padding: 20px;
  margin-left: 20px;
  text-decoration: none;
      /* background-color: #808080; */
      max-width: 528px;
      background-color: #dcdcdc;
      border: 1px solid black;
}

.poll-your-vote {
  /* text-align: center; */
  justify-content: center;
  width: 40px;
  /* margin-top: 10px; */
  margin-left: 20px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #cd5c5c;
  color: #ffffff;
}

.leader-board ul {
  max-width: 300px;
  align-items: center;
}

.leader-board li {
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
      /* background-color: #808080; */
      max-width: 528px;
      background-color: #dcdcdc;
      border: 1px solid black;
}

.avatar {
  /* height: 50px;
  border-radius: 25px;
  margin: 10px; */
  height: 80px;
  border-radius: 40px;
  margin: 20px;
}

.question {
  width: 70%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  /* border: 1px solid #dad7d7; */
  border: 1px solid black;
  /* border-radius: 3px; */
  /* cursor: pointer; */
      flex-direction: row;
      background-color: #92a8d1;
}

.question-inner {
  width: 60%;
  max-width: 590px;
  margin: 10px;
  display: flex;
  flex-direction: column;
      border: 1px solid #dad7d7;
      border-radius: 3px;
      cursor: pointer;
      padding-left: 20px;
}

.question-info {
  width: 60%;
  max-width: 590px;
  margin: 10px;
  display: flex;
  flex-direction: column;
      border: 1px solid #dad7d7;
      border-radius: 3px;
      cursor: pointer;
      padding-left: 20px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.question1 {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info1 {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.short-sample-answer {
  color: #969696;
  font-size: 16px;
}

    .new-question {
      maxwidth: 100%;
      max-width: 590px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      padding: 20px;
      max-width: 432px;;
      background-color: #dcdcdc;
      border: 1px solid black;
    }

    .new-question-input {
      /* max-width: 800px; */
      maxwidth: 80%;
      max-width: 432px;
      margin-left: 40 auto;
      padding: 10px;
    }
/* Hacky but less typing in the video */

.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

/*
  Progress-bar remedy from
  https://medium.com/@ItsMeDannyZ/how-to-build-a-progress-bar-with-react-8c5e79731d1f
*/

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 590px;
  border: 1px solid #333;
  margin-top: 10px;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
